	/*
  	Flaticon icon font: Flaticon
  	Creation date: 07/07/2018 23:49
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-birthday-cake:before { content: "\f100"; }
.flaticon-reservation:before { content: "\f101"; }
.flaticon-reserved:before { content: "\f102"; }
.flaticon-calendar:before { content: "\f103"; }
.flaticon-internet:before { content: "\f104"; }
.flaticon-blogging:before { content: "\f105"; }
.flaticon-cutlery:before { content: "\f106"; }
.flaticon-home:before { content: "\f107"; }
.flaticon-back:before { content: "\f108"; }
.flaticon-cake-slice:before { content: "\f109"; }
.flaticon-whatsapp:before { content: "\f10a"; }
.flaticon-whatsapp-logo:before { content: "\f10b"; }
.flaticon-sandwich:before { content: "\f10c"; }
.flaticon-food:before { content: "\f10d"; }
.flaticon-chicken:before { content: "\f10e"; }
.flaticon-breakfast:before { content: "\f10f"; }
.flaticon-bake:before { content: "\f110"; }
.flaticon-dessert-1:before { content: "\f111"; }
.flaticon-dessert:before { content: "\f112"; }
.flaticon-salad-1:before { content: "\f113"; }
.flaticon-lemonade:before { content: "\f114"; }
.flaticon-beer:before { content: "\f115"; }
.flaticon-meat:before { content: "\f116"; }
.flaticon-salad:before { content: "\f117"; }
.flaticon-pizza:before { content: "\f118"; }
.flaticon-phone-call:before { content: "\f119"; }
.flaticon-alarm:before { content: "\f11a"; }
.flaticon-list:before { content: "\f11b"; }
.flaticon-placeholder:before { content: "\f11c"; }